@charset "UTF-8";
/*-----STYLES-----*/
/*UTILITIES*/
/*BASE*/
@import url("https://fonts.googleapis.com/css2?family=K2D:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800&family=Lexend+Deca:wght@100..900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  background-color: #fff; }

/**Las tipografias son:
    font-family: "K2D", sans-serif;
    font-family: "Lexend Deca", sans-serif;
**/
/*LAYOUTS*/
/*Header*/
header {
  position: sticky;
  top: 0;
  z-index: 1;
  background-color: #f2e5ff; }

.container-publicidad {
  display: flex;
  background-color: #000;
  justify-content: space-between;
  align-items: center;
  gap: 30px; }

.top-header {
  text-align: center;
  background-color: #000;
  height: 30px;
  width: 100%;
  gap: 85px; }
  .top-header img {
    justify-content: center;
    align-items: center;
    height: 2.1875rem;
    padding: 3px; }

.mid-header {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  align-self: center;
  justify-content: space-between;
  padding: 0 20px; }

.peritech-logo {
  height: 50px;
  width: auto; }

.navbar {
  list-style: none;
  display: flex;
  gap: 50px; }
  .navbar li a {
    color: black;
    font-family: "K2D", sans-serif;
    text-decoration: none;
    font-size: .9375rem;
    font-weight: bold; }
    .navbar li a:hover {
      font-weight: 900;
      color: #6B2CB7; }

.sector-derecho-mid-header {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px; }
  .sector-derecho-mid-header input[type="text"] {
    padding: 5px 2px;
    border-radius: 15px 0 0 15px;
    border: 1px solid rgba(0, 0, 0, 0.552);
    font-family: "K2D", sans-serif;
    color: #000;
    letter-spacing: 1px; }
  .sector-derecho-mid-header button {
    padding: 6px 12px;
    background-color: #000;
    border-radius: 0 15px 15px 0;
    border: none;
    cursor: pointer; }

.boton-carro {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center; }

.shopping-cart {
  height: 25px;
  width: auto; }
  .shopping-cart:hover {
    transform: scale(1.05); }

.hamburger {
  display: none;
  flex-direction: column;
  cursor: pointer; }
  .hamburger .line {
    height: 3px;
    width: 25px;
    background-color: #000;
    margin: 2.5px; }

/*Pagina 1 INICIO*/
.section-1 img {
  height: auto;
  width: 100%;
  object-fit: contain; }

.section-2 p {
  display: flex;
  justify-content: center;
  font-family: "K2D", sans-serif;
  font-weight: bolder;
  letter-spacing: 2.88px;
  color: #FFF;
  text-align: center;
  font-size: 1.25rem;
  padding: 1.25rem 0;
  background-color: #663399;
  width: 100%; }

.scale-up-bottom {
  animation: scale-up-bottom 4s; }

@keyframes scale-up-bottom {
  0% {
    transform: scale(0.5);
    transform-origin: center bottom; }
  100% {
    transform: scale(1);
    transform-origin: center bottom; } }

.section-3 p {
  text-align: center;
  color: #663399; }

.texto-eslogan-top {
  font-family: "Lexend Deca", sans-serif;
  text-decoration: none;
  font-size: 1.875rem;
  margin-top: 40px; }

.texto-eslogan-bottom {
  font-family: "K2D", sans-serif;
  text-decoration: none;
  font-size: 1.125rem;
  margin-bottom: 40px; }

.section-4 {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 40px; }

.banner-img-styles, .banner-mouse, .banner-teclado, .img-asus {
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  transition: all 1.5s ease-in-out; }

.banner-mouse img {
  display: flex;
  height: 33.3125rem;
  width: 15.625rem;
  margin-right: 10px; }

.img-asus img {
  display: flex;
  height: auto;
  width: 50rem;
  margin: 0 10px; }

.banner-teclado img {
  display: flex;
  height: 33.3125rem;
  width: 15.625rem;
  margin-left: 10px; }

/*Pagina 2 TIENDA*/
.resaltado {
  font-weight: bold; }

.titulos-inicio-tienda {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-wrap: nowrap;
  align-items: center;
  font-family: "Lexend Deca", sans-serif;
  font-size: 20px;
  margin-top: 30px;
  gap: 20px; }

#texto-destacados {
  font-size: 1.875rem;
  font-weight: 600; }

.container-productos {
  display: flex;
  justify-content: center;
  margin-top: 40px;
  gap: 30px;
  flex-wrap: wrap; }

.product-card {
  border: 2px solid #663399;
  border-radius: 10px;
  width: 200px;
  padding: 20px;
  background-color: #FFF;
  text-align: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s; }
  .product-card img {
    height: auto;
    width: 100%; }
  .product-card h3 {
    font-size: 16px;
    font-family: "K2D", sans-serif;
    color: #000;
    margin: 10px 0; }

.price {
  font-size: 18px;
  font-family: "Lexend Deca", sans-serif;
  color: #663399;
  margin: 10px 0; }

.add-to-cart {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  border: 2px solid #663399;
  border-radius: 20px;
  background-color: #FFF;
  color: #663399;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
  text-decoration: none;
  font-size: 14px; }
  .add-to-cart img {
    height: 16px;
    width: 16px;
    margin-right: 5px; }
  .add-to-cart:hover {
    background-color: #9C27B0;
    color: #FFF; }

.product-card:hover {
  transform: scale(1.05); }

.section-banner-vertodo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-wrap: nowrap;
  align-items: center;
  gap: 30px;
  margin-top: 30px;
  margin-bottom: 30px; }
  .section-banner-vertodo button {
    background-color: #663399;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    color: #FFF;
    border: none;
    border-radius: 5px 5px;
    height: 25px;
    width: 70px;
    cursor: pointer; }
    .section-banner-vertodo button:hover {
      background-color: #8155b8;
      transform: scale(1.05); }
  .section-banner-vertodo img {
    display: flex;
    justify-content: center;
    height: auto;
    width: 60rem; }

/*Pagina 3 DESCUENTOS*/
.section1-descuentos img {
  height: auto;
  width: 100%; }

.grid-container-descuentos {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
  justify-items: center;
  /* Asegura que las imágenes estén centradas en sus celdas */ }

.grid-container-descuentos img {
  width: 100%;
  height: auto; }

/*Pagina 4 CONTACTOS*/
.float {
  position: fixed;
  height: 50px;
  width: 50px;
  bottom: 20px;
  right: 20px;
  color: #FFF;
  border-radius: 50px;
  text-align: center;
  font-size: 30px;
  box-shadow: 2px 2px 3px #999;
  z-index: 100;
  overflow: hidden; }

.my-float {
  display: block;
  position: absolute;
  height: 35px;
  width: 35px;
  background-size: contain;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-repeat: no-repeat; }

.section1-contact img {
  height: auto;
  width: 100%; }

.section-form {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Lexend Deca", sans-serif; }

form {
  padding: 50px 55px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
  border-radius: 20px;
  text-align: center;
  width: 21.25rem; }

.input-group {
  display: flex;
  flex-direction: column;
  text-align: left; }

form h2 {
  color: #663399;
  font-size: 2.1875rem; }

label {
  color: #663399;
  font-size: .9375rem;
  font-weight: 600;
  margin-bottom: 15px; }

.input-group input, textarea {
  font-family: "K2D", sans-serif;
  padding: 17px 25px;
  border-radius: 25px;
  margin-bottom: 20px;
  background-color: #FFF;
  border: 2px solid #f8ddff;
  color: #000;
  outline: none; }

input::placeholder, textarea::placeholder {
  color: #6a6a6a; }

.form-txt {
  margin-bottom: 30px;
  display: flex;
  justify-content: space-between;
  text-align: center; }
  .form-txt a {
    font-family: "K2D", sans-serif;
    color: #663399;
    font-size: .875rem;
    font-weight: 600;
    text-decoration: none; }

.btn {
  font-family: "K2D", sans-serif;
  font-size: 1rem;
  color: #FFF;
  border: 1;
  border-radius: 25px;
  background-color: #a53ad2;
  box-shadow: 0 0 20px rgba(135, 0, 254, 0.237);
  cursor: pointer; }
  .btn:hover {
    background-color: #663399;
    color: #FFF; }

/*Pagina 5 NOSOTROS*/
main .section1-nosotros img {
  width: 100%;
  height: auto;
  object-fit: cover;
  max-height: 500px;
  filter: brightness(80%); }

main .section-2-historia-mision {
  display: flex;
  flex-direction: column;
  padding: 40px 20px;
  gap: 40px;
  background-color: #f7f7f7; }

main .contenido {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  gap: 20px; }
  main .contenido img {
    width: 25rem;
    height: auto;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease; }
  main .contenido img:hover {
    transform: scale(1.05); }
  main .contenido .texto-nosotros h2 {
    font-family: "Lexend Deca", sans-serif;
    font-size: 2rem;
    color: #333;
    margin-bottom: 10px;
    position: relative; }
    main .contenido .texto-nosotros h2::after {
      content: "";
      display: block;
      width: 60px;
      height: 3px;
      background-color: #663399;
      margin: 8px auto 0; }
  main .contenido .texto-nosotros p {
    font-family: "K2D", sans-serif;
    font-size: 1.2rem;
    line-height: 1.8;
    color: #666;
    max-width: 600px; }

/*Footer*/
footer {
  background-color: #f2e5ff;
  padding: 40px 20px; }
  footer section {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "K2D", sans-serif; }
  footer img {
    height: 50px;
    margin-bottom: 20px; }

.contenedor-contacto {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  max-width: 1000px; }

.mail, .whatsapp {
  display: flex; }

.contact-left, .contact-right {
  flex: 1;
  margin: 20px 50px; }

.contact-left div {
  margin-bottom: 15px; }

.contact-right p {
  margin-bottom: 15px; }

.contact-right ul {
  margin-bottom: 15px;
  list-style-type: none; }

.contact-left img, .contact-right img {
  height: 20px;
  margin-right: 10px; }

.redes a {
  display: inline-block;
  margin-right: 20px; }

.redes img {
  display: block;
  line-height: 0;
  height: 2.5rem; }
  .redes img:hover {
    transform: scale(1.05); }

/*MEDIAS QUERIES*/
@media (max-width: 1340px) {
  .banner-teclado img {
    height: 25rem;
    width: 11.625rem;
    margin-left: 10px; }
  .banner-mouse img {
    height: 25rem;
    width: 11.625rem;
    margin-right: 10px; }
  .img-asus img {
    height: auto;
    width: 37.5rem;
    margin: 0 10px; } }

@media (max-width: 1024px) {
  /*Inicio*/
  .navbar, .boton-carro input {
    display: none; }
  .sector-derecho-mid-header button {
    border-radius: 15px 15px;
    border: none;
    cursor: pointer; }
  .hamburger {
    cursor: pointer;
    width: 30px;
    height: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between; }
    .hamburger span {
      display: block;
      width: 100%;
      height: 4px;
      background-color: #fff;
      transition: all 0.3s ease; }
  .menu {
    position: fixed;
    top: 0;
    left: -250px;
    width: 250px;
    height: 100%;
    background-color: #663399;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    transition: left 0.3s ease; }
    .menu ul {
      list-style: none;
      text-align: center; }
    .menu li {
      margin: 20px 0; }
      .menu li a {
        text-decoration: none;
        color: #fff;
        font-size: 1.2rem;
        transition: color 0.3s ease; }
        .menu li a:hover {
          color: #c9c9c9; }
    .menu.open {
      left: 0; }
  .hamburger.active span:nth-child(1) {
    transform: rotate(45deg) translateY(9px); }
  .hamburger.active span:nth-child(2) {
    opacity: 0; }
  .hamburger.active span:nth-child(3) {
    transform: rotate(-45deg) translateY(-9px); }
  .banner-teclado img {
    height: 20rem;
    width: 10.625rem;
    margin-left: 10px; }
  .img-asus img {
    height: auto;
    width: 29.9rem;
    margin: 0 10px; }
  .banner-mouse img {
    height: 20rem;
    width: 10.625rem;
    margin-right: 10px; }
  /*Tienda*/
  .section-banner-vertodo img {
    height: auto;
    width: 45rem; }
  footer {
    padding: 20px 0 0 0; }
  footer section {
    flex-direction: column-reverse; }
  .contact-left img, .contact-right img {
    margin-right: 10px;
    margin-left: 30px; }
  .redes img {
    height: 40px;
    width: auto; } }

@media (max-width: 858px) {
  .banner-teclado img {
    display: none; }
  .banner-mouse img {
    display: none; }
  .img-asus img {
    height: auto;
    width: 33rem; }
  form {
    padding: 50px 30px; }
  form h2 {
    font-size: 1.5625rem; }
  .input-group input {
    padding: 15px; }
  .input-group label {
    font-size: 12px; }
  .grid-container-descuentos img {
    height: auto;
    width: 290px; } }

@media (max-width: 768px) {
  .catalogo {
    font-size: 1rem; }
  main .contenido img {
    height: auto;
    width: 250px; }
  .contenedor-contacto {
    flex-direction: column;
    align-items: center;
    text-align: center; }
  .contact-left, .contact-right {
    margin: 10px 0; }
  .contact-left div, .contact-right p, .contact-right ul {
    margin: 0; }
  .redes img {
    height: 25px;
    width: auto; }
  .section-banner-vertodo img {
    height: auto;
    width: 40rem; }
  footer {
    padding: 0; }
  .redes img {
    height: 40px;
    width: auto; } }

@media (max-width: 640px) {
  .section-banner-vertodo img {
    height: auto;
    width: 30rem; }
  .grid-container-descuentos {
    grid-template-columns: 1fr; } }

@media (max-width: 600px) {
  .section-2 p {
    font-size: 1rem; }
  .peritech-logo {
    height: 35px;
    width: auto; }
  .img-asus img {
    height: auto;
    width: 25rem; }
  .texto-eslogan-top {
    font-size: 1.25rem; }
  .texto-eslogan-bottom {
    font-size: .8125rem; }
  main .contenido {
    flex-wrap: wrap;
    justify-content: center; }
    main .contenido img {
      height: auto;
      width: 150px; }
    main .contenido .texto-nosotros h2 {
      font-size: 1.5625rem; }
    main .contenido .texto-nosotros p {
      font-size: .9375rem; } }

@media (max-width: 480px) {
  .section-2 p {
    font-size: .875rem; }
  .section-banner-vertodo img {
    height: auto;
    width: 20rem; }
  .catalogo p {
    font-size: 1rem; }
  .img-asus img {
    height: auto;
    width: 20rem; }
  .contact-left div span, .contact-right p, .contact-right ul {
    font-size: 14px; }
  footer img {
    height: 40px;
    width: auto; }
  .redes img {
    height: 30px;
    width: auto; }
  .grid-container-descuentos img {
    height: auto;
    width: 190px; } }

@media (max-width: 345px) {
  form {
    height: auto;
    width: 18.75rem; }
  .img-asus img {
    height: auto;
    width: 18rem; } }
