@import url('https://fonts.googleapis.com/css2?family=K2D:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800&family=Lexend+Deca:wght@100..900&display=swap');
/**Las tipografias
    font-family: "K2D", sans-serif;
    font-family: "Lexend Deca", sans-serif;
**/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-color: white;
}
header {
    position: sticky;
    top: 0;
    z-index: 1;
    background-color: #f2e5ff;
}
.container-publicidad{
    display: flex;
    background-color: #000;
    justify-content: space-between;
    align-items: center;
    gap: 30px;
}
.header {
    background-color: rgb(249, 228, 255);
}

.mid-header {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    align-self: center;
    justify-content: space-between;
    padding: 0 20px;
}
.top-header {
    /*display: flex;*/
    text-align: center;
    background-color: #000;
    width: 100%;
    height: 30px;
    gap: 85px;
}
.top-header img{
    /*display: flex;*/
    justify-content: center;
    align-items: center;
    height: 2.1875rem;
}
.peritech-logo {
    height: 50px;
}
.navbar {
    list-style: none;
    display: flex;
    gap: 50px;
}
.navbar li a {
    color: rgb(0, 0, 0);
    font-family: "K2D", sans-serif;
    text-decoration: none;
    font-size: .9375rem;
    font-weight: bold;
}
.navbar li a:hover{
    font-weight: 900;
    color: #6B2CB7;
}
.sector-derecho-mid-header {
    gap: 20px;
}
.sector-derecho-mid-header input[type="text"] {
    padding: 5px 2px;
    border-radius: 15px 0 0 15px;
    border: 1px solid rgba(0, 0, 0, 0.552);
    font-family: "K2D", sans-serif;
    color: #221d1d9f;
    letter-spacing: 1px;
}
.sector-derecho-mid-header button{
    padding: 6px 12px;
    background-color: #000;
    border-radius: 0 15px 15px 0;
    border: none;
    cursor: pointer;
}
.boton-carro{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.shopping-cart {
    height: 25px; 
}
.section-1 img {
    width: 100%;
    object-fit: contain;
}
.catalogo {
    display: flex;
    justify-content: center;
    font-family: "K2D", sans-serif;
    font-weight: bolder;
    letter-spacing: 2.88px;
    color: white;
    text-align: center;
    font-size: 20px;
    padding: 1.25rem 0;
    background-color: #663399;
    width: auto;
    height: 70px;
}
.section-3 p{
    text-align: center;
    color: #663399;
}
.texto-eslogan-top{
    font-family: "Lexend Deca", sans-serif;
    text-decoration: none;
    font-size: 1.875rem;
    margin-top: 40px;
}
.texto-eslogan-bottom{
    font-family: "K2D", sans-serif;
    text-decoration: none;
    font-size: 1.125rem;
    margin-bottom: 40px;
}
.section-4{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 40px;
}

.banner-mouse img{
    width: 250px;
    height: 533px;
    margin-right: 10px;
}

.img-asus img{
    width: 800px;
    height: auto;
    margin: 0 10px;
}

.banner-teclado img{
    width: 250px;
    height: 533px;
    margin-left: 10px;
}

/*Pagina 2 TIENDA*/
.resaltado {
    font-weight: bold;
}
.home-titulo p {
    color: rgba(0, 0, 0, 0.70);
    font-family: "K2D", sans-serif;
    font-size: .9375rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 1.8px;
}
.home-titulo h2 {
    color: #000;
    text-align: center;
    font-family: "K2D", sans-serif;
    font-size: 3.125rem;
    font-style: italic;
    font-weight: 800;
    line-height: normal;
    letter-spacing: 6px;
    font-size: 2em;
    text-align: center;
}
.container-productos p {
    color: rgba(0, 0, 0, 0.70);
    font-family: "K2D", sans-serif;
    font-size: .9375rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 1.8px;
}
.home-titulo button {
    border-radius: 45px;
    border: 1px solid #6B2CB7;
    background: #FFF;
}
.productos{
    display: flex;
    justify-content: center;
}
.container-productos p {
    margin: 20px 0;
    color: #000;
    font-family: "K2D", sans-serif;
    font-size: 1.4rem;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 4.32px;
}
.producto {
    width: 12.5rem;
    margin: .625rem;
    padding: 10px;
    background-color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    vertical-align: top;
}
.producto p {
    color: #000;
    font-family: "Lexend Deca", sans-serif;
    font-size: 15px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 3px;
    margin: 0;
    padding: 5px 0;
}
.precio p {
    color: #6B2CB7;
    font-family: "Lexend Deca";
    font-size: 15px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    letter-spacing: 3px;
}
.boton-agregar{
    border-radius: 45px;
    border: 1px solid #6B2CB7;
    background: #FFF;
    text-align: center;
}
.producto img {
    width: 100%;
    height: auto;
    border-bottom: 1px solid #ddd;
    padding-bottom: 10px;
    margin-bottom: 10px;
}
.banner img {
    display: flex;
    justify-content: center;
    width: 60rem;
    height: 14rem;
}
/*Pagina 3*/
.section-oferta {
    font-family: "K2D", sans-serif;
}
.cuadro-oferta {
    background-color: #6B2CB7;
    color: #fff;
    border-radius: 20px;
    padding: 20px;
    margin: 10px;
    width: 80%;
    max-width: 600px;
    position: relative;
}
.titulo-oferta {
    padding: 0 .3125rem;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-size: 1.5rem;
    font-style: italic;
    font-weight: 700;
    line-height: normal;
    transform: rotate(-15deg);
    letter-spacing: 3.84px;
}
.cuadro-oferta img{
    width: 12rem;
    height: 12rem;
    padding-left: 60%;
}

.detalles-oferta {
    font-size: 16px;
}
/*Pagina 4*/
.home-titulo img {
    display: flex;
    width: 100%;
    object-fit: contain;
}
.home-titulo h2{
    position: absolute;
    top: 35%;
    left: 35%;
    color: white;
    background-color: #663399ce;
    width: 450px;
    text-align: center;
    padding: 20px 0;
    border-radius: 15px;
    font-family: "K2D", sans-serif;
    font-weight: bolder;
    font-size: 2.2rem;
}
.section-contacto {
    display: flex;
    justify-content: center;
    font-family: "K2D", sans-serif;
    color: #000;
    margin: 20px;
    background-color: #fff;
    border-radius: 10px;
    padding: 10px 30px;
    
}
.datos {
    width: 50%;
    padding: 20px;
}
.datos p, .datos ul {
    margin: 0 0 10px 0;
    font-size: 16px;
}
.datos ul li {
    color: black;
    margin-bottom: 5px;
}
.redes-form img {
    width: 2.8125rem;
    height: 2.1875rem;
}
.form-contacto {
    width: 50%;
    padding: 1.25rem;
}
.form-contacto input, textarea{
    margin-bottom: 10px;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ddd;
    border-radius: 5px;
}
.form-contacto button {
    padding: 10px;
    font-size: 16px;
    background-color: #7652c4;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
.form-contacto button:hover {
    background-color: #a280df;
}
/*Pagina 5*/
.contenido {
    font-family: "K2D", sans-serif;
    color: #000;
    font-family: K2D;
    font-size: 1.2rem;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    letter-spacing: 3.24px;
    margin-top: 20px;
}
.contenido div {
    background-color: #D9B1F6;
    padding: 20px;
    border-radius: 10px;
    width: 45%;
}
.contenido h2 {
    font-size: 1.5em;
    margin-bottom: 10px;
}
.contenido p {
    font-size: 1em;
    line-height: 1.5;
}
footer {
    background-color: #f2e5ff;
    padding: 40px 20px;
}

footer section {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "K2D", sans-serif;
}
footer img {
    height: 50px; 
    margin-bottom: 20px;
}

.contenedor-contacto {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    max-width: 1000px;
}
.mail{
    display: flex;
    
}
.whatsapp{
    display: flex;
}
.contact-left, .contact-right {
    flex: 1;
    margin: 20px 50px;
}

.contact-left div, .contact-right p, .contact-right ul {
    margin-bottom: 15px;
}

.contact-left img, .contact-right img {
    height: 20px; /* Ajusta el tamaño de los iconos según sea necesario */
    margin-right: 10px;
}

.redes a {
    margin-right: 20px;
}

.redes img {
    height: 30px; /* Ajusta el tamaño de los iconos de redes sociales según sea necesario */
}

/* Media queries para diseño responsivo */
@media (max-width: 1024px) {
    .navbar, .buscador {
        display: none;
    }
}
@media (max-width: 768px) {
    /*Pagina INICIO*/
    .contenedor-contacto {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .contact-left, .contact-right {
        margin: 10px 0;
    }

    .redes img {
        height: 25px; /* Ajusta el tamaño de los iconos de redes sociales según sea necesario */
    }

    /*Pagina TIENDA*/

    /*Pagina DESCUENTOS*/

    /*Pagina CONTACTOS*/

    /*Pagina NOSOTROS*/
}
@media (max-width: 480px) {
    /*Pagina INICIO*/
    .contact-left div span, .contact-right p, .contact-right ul {
        font-size: 14px; /* Ajusta el tamaño del texto según sea necesario */
    }

    footer img {
        height: 40px;
    }

    .redes img {
        height: 20px; 
    }

    /*Pagina TIENDA*/

    /*Pagina DESCUENTOS*/

    /*Pagina CONTACTOS*/

    /*Pagina NOSOTROS*/
}