@import url('https://fonts.googleapis.com/css2?family=K2D:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800&family=Lexend+Deca:wght@100..900&display=swap');
/**Las tipografias
    font-family: "K2D", sans-serif;
    font-family: "Lexend Deca", sans-serif;
**/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: white;
}
header{
    position: sticky;
    top: 0;
    z-index: 1;
    background-color: #f2e5ff;
}
.container-publicidad{
    display: flex;
    background-color: black;
    justify-content: space-between;
    align-items: center;
    gap: 30px;
    .top-header{
        text-align: center;
        background-color: #000;
        width: 100%;
        height: 30px;
        gap: 85px;
        img{
            justify-content: center;
            align-items: center;
            height: 2.1875rem;
            padding: 3px;
        }
    }
}
.mid-header{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    align-self: center;
    justify-content: space-between;
    padding: 0 20px;
}
.peritech.logo{
    height: 50px;
}
.navbar{
    list-style: none;
    display: flex;
    gap: 50px;
    li a{
        color: rgb(0, 0, 0);
        font-family: "K2D", sans-serif;
        text-decoration: none;
        font-size: .9375rem;
        font-weight: bold;
        &:hover{
            font-weight: 900;
            color: #6B2CB7;
        }
    }
}
.sector-derecho-mid-header{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    .boton-carro{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        input{
            padding: 5px 2px;
            border-radius: 15px 0 0 15px;
            border: 1px solid rgba(0, 0, 0, 0.552);
            font-family: "K2D", sans-serif;
            color: #221d1d9f;
            letter-spacing: 1px;
        }
        button{
            padding: 6px 12px;
            background-color: #000;
            border-radius: 0 15px 15px 0;
            border: none;
            cursor: pointer;
        }
        .shopping-cart {
            height: 25px;
            &:hover{
                transform: scale(1.05);
            }
        }
    }
    .hamburger{
        display: none;
        flex-direction: column;
        cursor: pointer;
        .line{
            width: 25px;
            height: 3px;
            background-color: rgb(0, 0, 0);
            margin: 2.5px;
        }
    }
}
.section-1 img {
    width: 100%;
    object-fit: contain;
}
.section-2 p{
    display: flex;
    justify-content: center;
    font-family: "K2D", sans-serif;
    font-weight: bolder;
    letter-spacing: 2.88px;
    color: white;
    text-align: center;
    font-size: 1.25rem;
    padding: 1.25rem 0;
    background-color: #663399;
    width: 100%;
}

.section-4 {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 40px;
    .banner-mouse img{
        display: flex;
        width: 15.625rem;
        height: 33.3125rem;
        margin-right: 10px;
    }
    .img-asus img{
        display: flex;
        width: 50rem;
        height: auto;
        margin: 0 10px;
    }
    .banner-teclado img{
        display: flex;
        width: 15.625rem;
        height: 33.3125rem;
        margin-left: 10px;
    }
}
/*Pagina 2 TIENDA*/
.titulos-inicio-tienda{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: "Lexend Deca", sans-serif;
    font-size: 20px;
    margin-top: 30px;
    gap: 20px;
}
#texto-destacados{
    font-size: 1.875rem;
    font-weight: 600;
}
.container-productos{
    display: flex;
    justify-content: center;
    margin-top: 40px;
    gap: 30px;
    flex-wrap: wrap;
    .product-card {
        border: 2px solid #B576D8;
        border-radius: 10px;
        width: 200px;
        padding: 20px;
        background-color: #FFFFFF;
        text-align: center;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        transition: transform 0.3s;
        &:hover{
            transform: scale(1.05);
        }
        img {
            width: 100%;
            height: auto;
        }
        h3 {
            font-size: 16px;
            font-family: "K2D", sans-serif;
            color: #000000;
            margin: 10px 0;
        }
        .price {
            font-size: 18px;
            font-family: "Lexend Deca", sans-serif;
            color: #9C27B0;
            margin: 10px 0;
        }
        .add-to-cart {
            display: inline-flex;
            align-items: center;
            justify-content: center;
            padding: 10px;
            border: 2px solid #9C27B0;
            border-radius: 20px;
            background-color: #FFFFFF;
            color: #9C27B0;
            cursor: pointer;
            transition: background-color 0.3s, color 0.3s;
            text-decoration: none;
            font-size: 14px;
            img {
                width: 16px;
                height: 16px;
                margin-right: 5px;
            }
            &:hover{
                background-color: #9C27B0;
                color: #FFFFFF;
            }
        }
    }
}
.section-banner-vertodo{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    margin-top: 30px;
    margin-bottom: 30px;
    button {
        background-color: #6B2CB7;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        color: white;
        border: none;
        border-radius: 5px 5px;
        width: 70px;
        height: 25px;
        cursor: pointer;
        &:hover{
            background-color: #8155b8;
            transform: scale(1.05);
        }
    }
    img{
        display: flex;
        justify-content: center;
        width: 60rem;
        height: auto;
    }
}
/*Pagina 3 DESCUENTOS*/
.section1-descuentos img{
    width: 100%;
    height: auto;
}
.grid-container-descuentos{
    display: grid;
    width: 80%;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 10px;
    margin: .625rem auto;
    .descuento-item1, .descuento-item3{
        display: flex;
        justify-content: end;
    }
    .descuento-item2, .descuento-item4{
    display: flex;
    justify-content: start;
    }
}
/*Pagina 4 CONTACTOS*/

/*Footer*/
footer {
    background-color: #f2e5ff;
    padding: 40px 20px;
    section{
        display: flex;
        justify-content: center;
        align-items: center;
        font-family: "K2D", sans-serif;
    }
    img {
        height: 50px; 
        margin-bottom: 20px;
    }
}
.contenedor-contacto {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    max-width: 1000px;
    .contact-left{
        flex: 1;
        margin: 20px 50px;
        div{
            margin-bottom: 15px;
        }
        img{
            height: 20px;
            margin-right: 10px;
        }
        .mail, .whatsapp{
            display: flex;
        }
    }
    .contact-right{
        flex: 1;
        margin: 20px 50px;
        p, ul{
            margin-bottom: 15px;
        }
    }
}
.redes{ 
    a{
        display: inline-block;
        margin-right: 20px;
    }
    img{
        display: block;
        line-height: 0;
        height: 2.5rem;
        &:hover{
            transform: scale(1.05);
        } 
    }
}