@media (max-width: 858px){
    .banner-teclado img {
        display: none;
    }
    .banner-mouse img{
        display: none;
    }
    .img-asus img{
        @include sizes(33rem, auto);
    }
    form{
        padding: 50px 30px;
    }
    form h2 {
        font-size: 1.5625rem;
    }
    .input-group input{
        padding: 15px;
    }
    .input-group label{
        font-size: 12px;
    }
    .grid-container-descuentos img{
        @include sizes(290px, auto);
    }
}
