@media (max-width: 768px){
    .menu {
        width: 150px;
        li {
            a {
                font-size: .75rem;
            }
        }
    }
    .catalogo{
        font-size: 1rem;
    }
    main{
        .contenido img{
            @include sizes(250px, auto);
        }
    }
    .contenedor-contacto {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }
    .contact-left, .contact-right {
        margin: 10px 0;
    }
    .contact-left div, .contact-right p, .contact-right ul {
        margin: 0
    }
    .redes img {
        @include sizes(auto, 25px);
    }
    .section-banner-vertodo img {
        @include sizes(40rem, auto);
    }
    footer{
        padding: 0;
    }
    .redes img {
        @include sizes(auto, 40px);
    }
}