@media (max-width: 1024px) {
    /*Inicio*/
    .navbar, .boton-carro input{
        display: none;
    }
    .sector-derecho-mid-header button{
        border-radius: 15px 15px;
        border: none;
        cursor: pointer;
    }
    .hamburger {
        cursor: pointer;
        width: 30px;
        height: 20px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        span {
            display: block;
            width: 100%;
            height: 4px;
            background-color: #fff;
            transition: all 0.3s ease;
        }
    }
    .menu {
        position: fixed;
        top: 0;
        left: -250px;
        width: 250px;
        height: 100%;
        background-color: $color-violeta;
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        transition: left 0.3s ease;
        ul {
            list-style: none;
            text-align: center;
        }
        li {
            margin: 12px 0;    
            a {
                text-decoration: none;
                color: #fff;
                font-size: 1.2rem;
                transition: color 0.3s ease;
                &:hover {
                    color: #c9c9c9;
                }
            }
        }
        &.open {
            left: 0;
        }
    }  
    .hamburger.active span {
        &:nth-child(1) {
            transform: rotate(45deg) translateY(9px);
        }
        &:nth-child(2) {
            opacity: 0;
        }
        &:nth-child(3) {
            transform: rotate(-45deg) translateY(-9px);
        }
    }
    .banner-teclado img {
        @include sizes(10.625rem, 20rem);
        margin-left: 10px;
    }
    .img-asus img {
        @include sizes(29.9rem, auto);
        margin: 0 10px;
    }
    .banner-mouse img {
        @include sizes(10.625rem, 20rem);
        margin-right: 10px;
    }
    /*Tienda*/
    .section-banner-vertodo img {
        @include sizes(45rem, auto);
    }
    footer{
        padding: 20px 0 0 0;
    }
    footer section{
        flex-direction: column-reverse;
    }
    .contact-left img, .contact-right img {
        margin-right: 10px;
        margin-left: 30px;
    }
    .redes img {
        @include sizes(auto, 40px);
    }
}