/*Pagina 3 DESCUENTOS*/
.section1-descuentos img {
    @include sizes(100%, auto);
}
.grid-container-descuentos {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
    justify-items: center; /* Asegura que las imágenes estén centradas en sus celdas */
}
.grid-container-descuentos img {
    width: 100%; 
    height: auto; 
}